/*** COLOR 1 ***/
/*Color texto*/
.wcTxtColor1 {
    color: #11071C;
}
/* Color de fondo */
.wcBGColor1{
    background-color: #11071C;
}
/* Botón */
.wcBtnColor1 {
    background-color: #11071C; /* Fondo */
    color: #fff; /* Color del texto */
    border: 2px solid #11071C; /* Borde */
}
.wcBtnColor1:hover {
    background-color: #0e0616; /* Fondo oscuro para hover */
    border-color: #0e0616; /* Borde oscuro para hover */
}


/*** COLOR 2 ***/
/*Color texto*/
.wcTxtColor2 {
    color: #bd9ad6;
}
/* Color de fondo */
.wcBGColor2{
    background-color: #bd9ad6;
}
/* Botón */
.wcBtnColor2 {
    background-color: #bd9ad6; /* Fondo */
    color: #fff; /* Color del texto */
    border: 2px solid #bd9ad6; /* Borde */
}

.wcBtnColor2:hover {
    background-color: #a68aab; /* Fondo oscuro para hover */
    border-color: #a68aab; /* Borde oscuro para hover */
}


/*** COLOR 3 ***/
.wcTxtColor3 { /*Color texto*/
    color: #7522a8;
}
.wcBGColor3{
    background-color: #7522a8 !important;
}
/* Botón */
.wcBtnColor3 {
    background-color: #7522a8; /* Fondo */
    color: #fff; /* Color del texto */
    border: 2px solid #7522a8; /* Borde */
}

.wcBtnColor3:hover {
    background-color: #641e93; /* Fondo oscuro para hover */
    border-color: #641e93; /* Borde oscuro para hover */
}

/*** COLOR 4 ***/
.wcTxtColor4 { /*Color texto*/
    color: #84858d;
}
/* Color de fondo */
.wcBGColor4{
    background-color: #84858d;
}
/* Botón */
.wcBtnColor4 {
    background-color: #84858d; /* Fondo */
    color: #fff; /* Color del texto */
    border: 2px solid #84858d; /* Borde */
}

.wcBtnColor4:hover {
    background-color: #73757d; /* Fondo oscuro para hover */
    border-color: #73757d; /* Borde oscuro para hover */
}


/* Estilo del Sidebar */
#sidebar {
    width: 250px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}
 
/* Contenido principal al lado del sidebar */
#main-content {
    margin-left: 250px; /* Ocupa el espacio del sidebar */
    width: calc(100% - 250px); /* Resta el ancho del sidebar */
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}
 
/* Estilo del botón tirador */
#toggle-sidebar {
    position: fixed;
    top: 50%;
    left: 250px;
    transform: translateY(-50%);
    z-index: 1100;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    color: white;
    border-radius: 0 5px 5px 0;
    padding: 5px;
    width: 40px;
    height: 40px;
    transition: left 0.3s;
}
 
/* Ocultar el botón en pantallas grandes */
@media (min-width: 992px) {
    #toggle-sidebar {
        display: none;
    }
 
    /* Asegurarse de que el sidebar esté visible en pantallas grandes */
    #sidebar {
        transform: translateX(0);
    }
 
    #main-content {
        margin-left: 250px;
        width: calc(100% - 250px);
    }
}
 
/* Ajuste cuando el sidebar está oculto */
#sidebar.active {
    transform: translateX(-100%);
}
 
#sidebar.active + #toggle-sidebar {
    left: 0;
}
 
#sidebar.active + #toggle-sidebar + #main-content {
    margin-left: 0;
    width: 100%;
}
