RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /Identity-Management-Development/WEB/404.html [L]

# <Files .htaccess>
#   Order Allow,Deny
#   Deny from all
# </Files>

# ErrorDocument 404 /LWeb/Web/html/404.html
# ErrorDocument 403 /LWeb/Web/html/forbidden.html